.unit-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin: 1rem 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color:rgb(51, 51, 51);
}

.unit-item img {
	height: 10%;
	width: 10%;
	object-fit: cover;
	border-radius: 5px;
}

.unit-item .utils {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.unit-stats > p:nth-child(n+3) {
	display: flex;
	justify-content: space-between;
	gap: 1vw;
	align-items: center;
}

.unit-stats > p:nth-child(n+3) > input {
	margin-left: auto;
}

.unit-stats > p > input {
	margin-left: auto;
}

.utils {
	display: flex;
	flex-direction: column;
	gap: 5px;
}